/*
Theme Name: MKS - Odpočet
Theme URI: https://odpocet.mksnj.cz
Author: Martin Urbánek
Author URI: https://martinurbanek.cz/
Description: 
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html


*/
*{
  max-width: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  text-align: center;
  background: #e2ebf0;
  background: #fff3d8;
  /*
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  */
  overflow: hidden;
}

body.orange-alert {
  background-color: #fff;
  animation-name: colororange;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes colororange {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: orange;
  }
  100% {
    background-color: #fff;
  }
}

body.red-alert {
  background-color: #fff;
  animation-name: color;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #f23329;
  }
}

div#counter {
  text-align: center;
  font-weight: bold;
  width: fit-content;
  margin: auto;
}
marquee,
.marquee {
  display: flex;
  margin: 0 auto;
  font-size: calc(25vw * (1/3));
  font-family: arial;
  margin: 0 20px;
  
}



.Countdown{
  margin: 10px auto;
  padding-bottom: 20px;
}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong{
  font-size: 20vw;
  font-family: arial;
}
.Countdown-col-element span{
  font-family: arial;
  font-size: calc(5vw * (1/2));
  font-weight: bold;
}
marquee{
  font-size: 10vw;
  text-transform: uppercase !important;
  font-weight: bold;
}
@media (max-width:767.98px){
  .Countdown-col-element strong{
    font-size: calc(30vw * (1/3));
  }
  .Countdown-col-element span{
    font-size: calc(5vw * (1/3));
  }
  marquee{
    font-size: calc(30vw * (1/4));    
  }
}